<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Registro de Usuarios</h1>
  <p class="lead"> Nodejs, Express Technologies</p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, possimus officiis! Voluptatem, 
    velit provident? Ut debitis nemo ab laborum praesentium sequi ipsa reiciendis! In aliquid perferendis 
    fuga distinctio aspernatur ipsam!
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Register</a>
  </div>
</div>